@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.active {
    border-left: 5px solid rgb(26, 99, 163);
    font-weight: 600;
    color: rgb(26, 99, 163);
}

.button-outline {
    border: 2px solid black;
    padding: 8px;
    border-radius: 5px;
    transition: 0.2s;
    &:hover {
        background-color: black;
        color: white;
        transition: 0.2s;
    }
}
.gradient_text {
    background-image: linear-gradient(
        to right,
        #201a93,
        #f3265f,
        #7f40ac,
        #201a93
    );
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 5s linear infinite;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.focus-outline-none:focus {
    outline: none;
}
