@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    border-left: 5px solid rgb(52, 52, 82);
    font-weight: 600;
}

.button-outline {
    border: 2px solid black;
    padding: 8px;
    border-radius: 5px;
    transition: 0.2s;
    &:hover {
        background-color: black;
        color: white;
        transition: 0.2s;
    }
}
.gradient_text {
    background-image: linear-gradient(
        to right,
        #201a93,
        #f3265f,
        #7f40ac,
        #201a93
    );
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 5s linear infinite;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
